:root{
    font-family:sans-serif;
    background-color: #150515;
    color: #e6c4e6;
}

.code{
    font-family: monospace;
    background: rgba(146, 116, 147, 0.53);
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    width: fit-content;
}

.api-block .example{
    left:1em;
    position:relative;
    margin-top: 0.3em;
    margin-bottom: 0.4em;
}
